// Primary colors
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Neutral colors
$grayish-blue: hsl(216, 19%, 38%);
$dark-grayish-blue: hsl(219, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);
